Flask==3.0.0
opencv-python-headless>=4.10.0.0
ultralytics
webcolors
easyocr
mediapipe
pyzbar
pandas
openpyxl
reportlab
psutil
WMI
pydantic>=2.0.0
onnxruntime
onnxruntime-directml
Flask-Limiter
Flask-Cors
python-dotenv
click
pytest
